<div class="container">
    <div class="col-sm-12">

                

                <div class="bs-calltoaction bs-calltoaction-primary">
                    <div class="row">
                        <div class="col-md-9 cta-contents">
                            <h1 class="cta-title">Sign Up</h1>
                        </div>
                     </div>
                </div>

                <div class="bs-calltoaction bs-calltoaction-info">
                     <div class="row">
                        <div class="col-md-9 cta-contents">
                            <h1 class="cta-title">Go to Dashboard</h1>
                        </div>
                     </div>
                </div>
                        
                     
                

                <div class="bs-calltoaction bs-calltoaction-success">
                    <div class="row">
                        <div class="col-md-9 cta-contents">
                            <h1 class="cta-title">Update Account Settings</h1>
                        </div>
                     </div>
                </div>
                        
                    
                

                <div class="bs-calltoaction bs-calltoaction-warning">
                    <div class="row">
                        <div class="col-md-9 cta-contents">
                            <h1 class="cta-title">Create a new lesson</h1>
                        </div>
                     </div>
                </div>
                        
                     
                

                <div class="bs-calltoaction bs-calltoaction-danger">
                    <div class="row">
                        <div class="col-md-9 cta-contents">
                            <h1 class="cta-title">That's it!</h1>
                        </div>
                     </div>
                </div>
                        
                     </div>
                </div>

   </div>
</div>